<div class="animated fadeIn posTable">
        <div class="card padding-bottom">
            <div class="card-header project-detail heading">
                <span>Add Product</span>
            </div>
            <div class="card-body">
            <form [formGroup]="addProductForm">
                <div class="row detailView">
                    <div class="col-sm-6 infoBodyL">
                        <div class="form-group">
                            <label><strong>Name</strong></label>
                            <input type="text" placeholder="Name" class="form-control" formControlName="p_name"
                            [ngClass]="{ 'is-invalid': submitted && f.p_name.errors, 'is-valid': f.p_name.touched && !f.p_name.errors }">
                            <div *ngIf="submitted && f['p_name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['p_name'].errors.required">Name is required</div>
                                  </div>
                        </div>
                        <div class="form-group">
                            <label><strong>Price</strong></label>
                            <input type="number" class="form-control" title="Price" placeholder="Price"
                                formControlName="p_price"
                                [ngClass]="{ 'is-invalid': submitted && f.p_price.errors, 'is-valid': f.p_price.touched && !f.p_price.errors }">
                        <div *ngIf="submitted && f['p_price'].errors" class="invalid-feedback">
                            <div *ngIf="f['p_price'].errors.required">Price is required</div>
                            <div *ngIf="f['p_price'].errors.min">Value must positive</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6 custom-margin-col infoBodyR">
                        <div class="form-group">
                            <label><strong>Quantity</strong></label>
                            <input type="number" placeholder="Quantity" class="form-control"
                                title="Quantity" formControlName="p_quantity"
                                [ngClass]="{ 'is-invalid': submitted && f.p_quantity.errors, 'is-valid': f.p_quantity.touched && !f.p_quantity.errors }">
                                <div *ngIf="submitted && f['p_quantity'].errors" class="invalid-feedback">
                                        <div *ngIf="f['p_quantity'].errors.required">Quantity is required</div>
                                        <div *ngIf="f['p_quantity'].errors.min">Value must positive</div>
                                      </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn expense-button" (click)=" addProductWithFormCheck()">Add</button>
            </div>
        </div>
    </div>
