<div class="card padding-bottom positionInfo">
    <div class="card-header project-detail heading">
        <span>Remove Inventory</span>
    </div>
    <div class="card-body p-2 clearfix posData" style="padding-left: 5px;">
            <div class="row" style="margin-left: 0px">
                <div class="col-sm-5 col-md-5 col-10">
                    <label class="current-date"><strong>Date &nbsp;</strong></label>
                    <br>
                    <jqxDateTimeInput
                    #myDateInput
                    placeHolder="Select Date"
                    class="form-control cal"
                    [value]="null" 
                    [max]="maxDate"
                    [width]="200"
                    [height]="30"
                    formatString= "f"
                    [(ngModel)]="selectedDate"
                    [template]="'primary'"
                    [allowKeyboardDelete]="false">
                    </jqxDateTimeInput>
                </div>
            </div>
        <form [formGroup]="simpleForm">
            <div class="row infoSection">
                <div class="col-sm-10">
                    <label for="state"><strong>Add Product</strong></label>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <fieldset class="form-group">
                                <ng-select #pDropDown (click)="scrollOnDropdownExpansion(300)" id="pDropDown" class="bootstrap"
                                    placeholder="Choose your Product" [items]="dropdownProducts"
                                    (change)="setSelectedProductID($event)" [clearable]="false">
                                </ng-select>
                            </fieldset>
                        </div>
                        <div *ngIf="isAdded==true" class="col-sm-4 form-group">
                            <input class="form-control" style="width: inherit;" type="text" id="socialMediaLink"
                                formControlName='quantity' placeholder="Quantity"
                                (keyup)="setSelectedProductQuantity($event)"
                                [ngClass]="{ 'is-invalid': submitted==true, 'is-valid': submitted==false && errMsg!=='' }">
                                <div *ngIf="submitted" class="invalid-feedback">
                                        <div>{{errMsg}}</div>
                                     </div>
                        </div>
                        <div *ngIf="isAdded==true" class="col-sm-1">
                            <button type="button" id="addBtn" class="btn btn-danger" [disabled]="addBtnDisable"
                                (click)="selectProduct();pDropDown.handleClearClick()">
                                <i style="text-align: center;
                                                 margin: auto;" class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row form-group col-sm-8">
                        <ul style="margin-left: inherit; width: 100%">
                            <li *ngFor="let option of selectedProducts" style="margin-bottom: 5px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>{{option.name}}</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="dInput" value="{{option.quantity}}" id="Input{{option.id}}"
                                            type="text" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn action-button" (click)="deleteEntry(option)"><i
                                                class="cui-trash icons font-xl"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                <!-- <fieldset class="form-group col-sm-5">
                        <label for="state">Item</label>
                        <ng-select
                            class="bootstrap"
                            placeholder="Choose your Item"
                            [items]="itemsDropDown"
                            formControlName="item"
                            [labelForId]="id"
                            (change)="itemIsSelected($event)"
                            >
                        </ng-select>
                        <div *ngIf="submitted && f['item'].errors" class="dropdown-feedback">
                            <div>Item is required</div>
                          </div>
                    </fieldset>
                    <div class="form-group col-sm-3" style="margin-top: -5px;">
                        <label class="col-form-label" for="email">Quantity<span class="required">*</span></label>
                        <input class="form-control"
                            type="number"
                            formControlName="quantity"
                            placeholder="Add Quantity"
                            disabled="isDisable==true"
                            (keyup)="currValue($event.target.value)"
                            required
                            [ngClass]="{ 'is-invalid': submitted && f.quantity.errors, 'is-valid': f.quantity.touched && !f.quantity.errors }" />
                        <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
                            <div *ngIf="f['quantity'].errors.required">{{errMsg}}</div>
                        </div>
                    </div> -->
                <!-- <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                        <mat-chip color="primary" selected>{{itemNewValue}}</mat-chip>
                    </mat-chip-list> -->
            </div>
        </form>
        <div class="card-footer">
            <div class="card-header-actions">
                <div class="text-center">
                    <button type="button" class="btn btn-secondary mr-1 expense-button" (click)="removeItem()">
                        <i style="font-style: inherit;">$</i>&nbsp; Remove Inventory
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader [loaderId]="'loader-02'"></ngx-ui-loader>