<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container center">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <img src="assets/logo.png" class="responsive logo-img">
                <div class="card-body">
                  <form (submit)="login()" [formGroup]="userForm">
                    <h1>Login</h1>
                    <p class="text-muted">Sign in</p>
                    <div class="input-group mb-3 fields">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input id="username" type="text" min="0" class="form-control" placeholder="Username" formControlName="username" group="userForm">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input id="password" type="password" min="0" class="form-control" placeholder="Password" formControlName="password" group="userForm"> 
                   </div>
                    <div class="row">
                      <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                        <button type="submit" class="btn btn-primary custom-padding" 
                          data-style="expand-left" [ladda]='isLoading'>Login</button>
                      </div>
                    </div>
                  </form>
                  <!-- <div class="row" id="mob_view">
                    <div id="mobile-signup" class="col-sm-8 d-flex justify-content-center justify-content-md-start justify-content-sm-start">
                        <span class="acct-mgn">Don't have an account? </span>
                    </div>
                  </div>
                  <div class="row" id="mob_view">
                    <div id="mobile-signup" class="col-sm-8 d-flex justify-content-center justify-content-md-start justify-content-sm-start">
                        <button type="button" class="sign-up-mgn btn primary-blue btn-link px-0" [routerLink]="['/register']" 
                          routerLinkActive="active" style="text-decoration: underline;">Sign up here!</button>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- <div class="card text-white bg-primary py-5 d-md-down-none login-card" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>New Account</p>
                    <button type="button" class="btn btn-primary" [routerLink]="['/register']" routerLinkActive="active">Register</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>