<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="close" (click)="cancelCall()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
         <span>{{data.msg}}</span>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-button" (click)="cancelCall()">{{data.cancel}}</button>
        <button type="button" class="btn expense-button" (click)="yesCall()">{{data.confirm}}</button>
       </div>
    </div>
 </div>