@media (min-width: 576px) {
    .modal-dialog {
        margin-top: 60px!important;
    }
}

.card {
    margin-bottom: 0.5rem;
    height: auto;
}
.card-header{
    text-align: center;
    font-size: larger;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.cancel-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: bolder;
}

.confirmation-modal-header {
    background-color: #29557d;
    color: white;
}
.custom-class {
    float: right;
}

.dark-modal .modal-content {
    background-color: #292b2c;
}

.modal-backdrop.fade {
    opacity: 0.5!important;
}

.modal-dialog {
    z-index: 1050!important;
}
