<div class="card padding-bottom positionInfo">
        <div class="card-header project-detail heading">
            <span>Company Summary</span>
        </div>
        <div class="card-body p-2 clearfix posData" style="padding-left: 5px;">
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-5 col-md-5 col-10">
                        <label class="current-date"><strong>Starting Date &nbsp;</strong></label>
                        <br>
                        <jqxDateTimeInput
                        #startingDateInput
                        placeHolder="Select Date"
                        class="form-control cal"
                        [value]="null" 
                        [max]="maxDate"
                        [width]="200"
                        [height]="30"
                        (onValueChanged)="startingDateSelected($event)"
                        formatString= "f"
                        [(ngModel)]="startingDate"
                        [template]="'primary'"
                        [allowKeyboardDelete]="false">
                        </jqxDateTimeInput>
                    </div>
                    <div class="col-sm-5 col-md-5 col-10">
                        <label class="current-date"><strong>Ending Date &nbsp;</strong></label>
                        <br>
                        <jqxDateTimeInput
                        #endingDateInput
                        placeHolder="Select Date"
                        class="form-control cal"
                        [value]="null" 
                        [max]="maxDate"
                        [width]="200"
                        [height]="30"
                        (onValueChanged)="endingDateSelected($event, $event.value)"
                        formatString= "f"
                        [disabled]="startingDateValidation==false"
                        [(ngModel)]="endingDate"
                        [template]="'primary'"
                        [allowKeyboardDelete]="false">
                        </jqxDateTimeInput>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px">
                        <div class="col-sm-4">
                                <label for="state">Total Income :</label>
                                <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                    <mat-chip color="primary" selected>PKR {{totalIncome}}</mat-chip>
                                </mat-chip-list>
                        </div>
                        <div class="col-sm-4">
                                <label for="state">Amount Received :</label>
                                <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                    <mat-chip color="primary" selected>PKR {{amountReceived}}</mat-chip>
                                </mat-chip-list>
                        </div>
                        <div class="col-sm-4">
                                <label for="state">Amount Paid :</label>
                                <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                    <mat-chip color="primary" selected>PKR {{amountPaid}}</mat-chip>
                                </mat-chip-list>
                        </div>
                </div>
        </div>
    </div>