<div class="animated fadeIn posTable" style="border:none!important">
    <!-- <div class="card-header project-detail heading">
        <span>Products</span>
    </div> -->
    <div class="card">
            <div class="card-header project-detail heading">
                    <span>Products</span>
                        <div class="row inlineBtn">
                         <div _ngcontent-c6="" class="text-center">
                           <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="openAddVendorPopup()"
                             data-toggle="modal" type="button">
                             <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
                             Add Product
                           </button>
                         </div>
                       </div>
                     </div>
        <div class="card-body">
            <!-- <div class="row mb-3">
                <div class="col-md-4 offset-sm-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" [(ngModel)]="searchText" class="form-control"
                            placeholder="Search any Item" />
                    </div>
                </div>
            </div> -->
            <table #dataTable class="display" style="width: 100%">
                <thead>
                    <tr class="heading">
                        <th>
                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                            Product
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            Quantity
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            Price
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            Added By
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

