<div class="animated fadeIn posTable">
    <div class="card-header project-detail heading">
        <span>Inventory Records</span>
    </div>
    <div class="card">
        <div class="card-body">
            <table #dataTable class="responsive display" style="width: 100%">
                <thead class="heading">
                    <!-- <th class="sortable-column" width="25%" tabindex="1"
                        (click)="selectedColumn('date', this.sortByDate.bind(this))">
                        Date
                        <ng-container *ngIf="sortingArray[0].selected === false;else dateAsc">
                            <i class="fa sort-icon fa-sort fa-lg mt-4"></i>
                        </ng-container>
                        <ng-template #dateAsc>
                            <ng-container *ngIf="sortingArray[0].asc === true;else dateDesc">
                                <i class="fa sort-icon fa-sort-asc fa-lg mt-4"></i>
                            </ng-container>
                        </ng-template>
                        <ng-template #dateDesc>
                            <i class="fa sort-icon fa-sort-desc fa-lg mt-4"></i>
                        </ng-template>
                    </th>
                    <th class="sortable-column" width="25%" tabindex="1"
                        (click)="selectedColumn('item', this.sortByItem.bind(this))">
                        Item
                        <ng-container *ngIf="sortingArray[1].selected === false;else itemAsc">
                            <i class="fa sort-icon fa-sort fa-lg mt-4"></i>
                        </ng-container>
                        <ng-template #itemAsc>
                            <ng-container *ngIf="sortingArray[1].asc === true;else itemDesc">
                                <i class="fa sort-icon fa-sort-asc fa-lg mt-4"></i>
                            </ng-container>
                        </ng-template>
                        <ng-template #itemDesc>
                            <i class="fa sort-icon fa-sort-desc fa-lg mt-4"></i>
                        </ng-template>
                    </th>
                    <th class="sortable-column" width="25%" tabindex="1"
                        (click)="selectedColumn('quantity', this.sortByQuantity.bind(this))">
                        Quanitity
                        <ng-container *ngIf="sortingArray[2].selected === false;else quantityAsc">
                            <i class="fa sort-icon fa-sort fa-lg mt-4"></i>
                        </ng-container>
                        <ng-template #quantityAsc>
                            <ng-container *ngIf="sortingArray[2].asc === true;else quantityDesc">
                                <i class="fa sort-icon fa-sort-asc fa-lg mt-4"></i>
                            </ng-container>
                        </ng-template>
                        <ng-template #quantityDesc>
                            <i class="fa sort-icon fa-sort-desc fa-lg mt-4"></i>
                        </ng-template>
                    </th>
                    <th width="25%">
                        Status
                    </th> -->

                    <tr class="heading">
                        <th>
                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                            Date
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            No of Products
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            Status
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                            Added By
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<app-reload-button [callback]="this.refreshRecords.bind(this)"></app-reload-button>
