<div class="animated fadeIn posTable">
    <div class="card">
        <div class="card-header project-detail heading">
            <span>Order</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-10">
                    <label class="current-date"><strong>Date</strong></label>
                    <br>
                    <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null"
                        [max]="maxDate" [width]="200" [height]="30" formatString="f" [(ngModel)]="selectedDate"
                        [template]="'primary'" [allowKeyboardDelete]="false">
                    </jqxDateTimeInput>
                </div>
            </div>
            <form [formGroup]="simpleForm" style="margin-top: 15px">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <fieldset class="form-group">
                                <label for="state">Vendor</label>
                                <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                                    appendTo="body" formControlName="vendor" class="bootstrap"
                                    placeholder="Choose your Vendor" [items]="vendors">
                                </ng-select>
                                <div *ngIf="submitted && f['vendor'].errors" class="invalid-feedback">
                                    <div *ngIf="f['vendor'].errors.required">Vendor is required</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <fieldset class="form-group">
                                <label for="city">City</label>
                                <ng-select #city (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                    class="bootstrap" formControlName="city" placeholder="Choose your City"
                                    [items]="cities">
                                </ng-select>
                                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                    <div *ngIf="f['city'].errors.required">City is required</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <fieldset class="form-group">
                                <label for="city">Status</label>
                                <ng-select #status (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                    class="bootstrap" formControlName="status" placeholder="Choose Status"
                                    [items]="statuses">
                                </ng-select>
                                <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                                    <div *ngIf="f['status'].errors.required">Status is required</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <fieldset class="form-group">
                                <label for="city">Order Type</label>
                                <ng-select #type (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                    class="bootstrap" formControlName="orderType" placeholder="Choose Order Type"
                                    [items]="orderTypes">
                                </ng-select>
                                <div *ngIf="submitted && f['orderType'].errors" class="invalid-feedback">
                                    <div *ngIf="f['orderType'].errors.required">Order Type is required</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <label for="state">Add Product</label>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <fieldset class="form-group">
                                    <ng-select #pODropDown (click)="scrollOnDropdownExpansion(300)"
                                        class="bootstrap" placeholder="Choose your Product" [items]="dropDownProducts"
                                        (change)="setSelectedProductID($event)">
                                    </ng-select>
                                </fieldset>
                            </div>
                            <div *ngIf="isAdded==true" class="col-sm-2 form-group">
                                <input class="form-control" style="width: inherit;" type="number" id="quantity"
                                    placeholder="Quantity" (keyup)="setSelectedProductQuantity($event)"
                                    [ngClass]="{ 'is-invalid': isAdded && isQuanErr==true, 'is-valid': isQuanErr==false && quanErrMsg!=='' }">
                                <div *ngIf="isAdded && isQuanErr==true" class="invalid-feedback">
                                    {{quanErrMsg}}
                                </div>
                            </div>
                            <div *ngIf="isAdded==true" class="col-sm-2 form-group">
                                <input class="form-control" style="width: inherit;" type="number" id="price"
                                    value="{{selectedDropdownPrice}}" (keyup)="setSelectedProductPrice($event)"
                                    placeholder="Price"
                                    [ngClass]="{ 'is-invalid': isAdded && priceErrMsg!=='', 'is-valid': priceErrMsg=='' }">
                                <div *ngIf="isAdded && priceErrMsg!==''" class="invalid-feedback">
                                    {{priceErrMsg}}
                                </div>
                            </div>
                            <mat-chip-list *ngIf="isAdded==true" aria-label="Fish selection" class="col-sm-2 matChip">
                                <mat-chip color="primary" selected>{{itemAvaiableQuantity}}</mat-chip>
                            </mat-chip-list>
                            <div *ngIf="isAdded==true" class="col-sm-1">
                                <label for="state"></label>
                                <button type="button" id="addBtn" class="col-md-12 btn btn-danger"
                                    [disabled]="addBtnDisable" (click)="selectProduct();pODropDown.handleClearClick()">
                                    <i style="text-align: center;
                                         margin: auto;" class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group col-sm-10">
                        <ul style="margin-left: inherit; width: 100%">
                            <li *ngFor="let option of selectedProducts" style="margin-bottom: 5px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <strong>{{option.name}}</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <input class="dInput" value="{{option.quantity}}" id="Input{{option.id}}"
                                        type="number" disabled> -->
                                        <strong>{{option.quantity}} Pcs</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <input class="dInput" value="{{option.price}}" id="Price{{option.id}}"
                                    type="number" disabled> -->
                                        <strong>{{option.price}}/pc</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <input class="dInput" value="{{option.price}}" id="Price{{option.id}}"
                                            type="number" disabled> -->
                                        <strong>PKR {{option.total}}</strong>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn action-button" (click)="deleteEntry(option)"><i
                                                class="cui-trash icons font-xl"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="card-header-actions">
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary mr-1 expense-button"
                            (click)="checkFormValidation()">
                            <i style="font-style: inherit;"></i>Place Order
                        </button>
                    </div>
                </div>
                <div class="card-header-actions total">
                    <div class="text-center">
                        <label for="state">Total:</label>
                        <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                            <mat-chip color="primary" selected>{{totalBill}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>