.posTable {
    padding: 20px;
}
.card {
    margin-bottom: 0.5rem;
    height: auto;
    background-color: transparent;
    opacity: 0.95;
    border: 1px solid #336285 !important;
}
.card-header{
    text-align: center;
    font-size: larger;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.detailView {
    margin-top: 30px;
}

p {
    padding-left: 20px;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #accecf;
    color: #29557d;
}

.total {
    float: left !important;
}

.card-footer {
    background-color: transparent !important;
    margin-top: 20px;
    border-top: 1px solid #2d4b654d !important;
}

.details-footer {
    background-color:none!important;
}

.dInput {
    width: -webkit-fill-available;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.375rem 0.75rem;
    color: #5c6873;
    margin-left: -15px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #29557d;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid-feedback {
    display: block;
    text-align: left !important;
}

