<app-header-brand></app-header-brand>
<app-side-nav></app-side-nav>

<main class="main main-window">
    <div class="custom-breadcrumb breadcrumb">
        <p *ngFor="let link of cb;index as i">
            <span class="custom-breadcrumb-item" *ngIf="i < cb.length - 1"><a style="font-weight: bold;" [routerLink]=link.link>{{link.title}}</a></span>
            <span class="custom-breadcrumb-item" *ngIf="i < cb.length - 1">></span>
            <span class="custom-breadcrumb-item" *ngIf="i == cb.length - 1">{{link.title}}</span>
        </p>
    </div>
    <router-outlet></router-outlet>
    <app-aside [fixed]="true" [display]="false">
    </app-aside>
</main>
