.main-window {
    height: auto;
    min-height: 100vh;
   background: linear-gradient(141deg, #e6f1f0 0%, #4c969c 51%, #295f73 75%) !important;
   background: inherit;
    opacity: 0.95;
}

.breadcrumb {
    background-color: transparent;
    opacity: 0.95;
    color: #29557d;
    font-weight: normal;
    font-size: large;
    border-bottom: none!important;
}
