<div class="card padding-bottom positionInfo">
        <div class="card-header project-detail heading">
           <span>{{data.paymentType}}</span>
        </div>
      <div class="card-body p-2 clearfix posData" style= "padding-left: 5px;">
        <div class="row infoSection"> 
        <div class="col-sm-3"><span>Date</span><div class="text-muted info">{{data.data.date}}</div></div>
        <div class="col-sm-3"><span>Vendor</span><div class="text-muted info">{{data.data.vendor_name}}</div></div>
        <div class="col-sm-3"><span>Amount</span><div class="text-muted info">{{data.data.amount}}</div></div>
        <div class="col-sm-3"><span>Added By</span><div class="text-muted info">{{data.data.addedBy}}</div></div>
        </div>
      </div>
      
      <div *ngIf="data.order!==null" class="card lineItemSection">
        <div class="card-header project-detail">
          <div class="row">
            <div class="col-6 col-sm-4">
                <b>Order</b>
            </div>
          </div>
        </div>
        <div class="card-body linkedComment">
                <div class="row infoSection"> 
                        <div class="col-sm-3"><span>Date</span><div class="text-muted info">{{data.order.date}}</div></div>
                        <div class="col-sm-3"><span>City</span><div class="text-muted info">{{data.order.city}}</div></div>
                        <div class="col-sm-3"><span>Status</span><div class="text-muted info">{{data.order.status}}</div></div>
                        <div class="col-sm-3"><span>Order Type</span><div class="text-muted info">{{data.order.order_type}}</div></div>
                        <div class="col-sm-3"><span>Ordered By</span><div class="text-muted info">{{data.order.orderedBy}}</div></div>
                        <div class="col-sm-3"><span>Amount</span><div class="text-muted info">{{data.order.total_amount}}</div></div>
                        </div>
          </div>
      </div>
      <div class="card-footer">
            <div class="card-header-actions total">
                <div class="text-center">
                    <div class="row" style="direction: ltr">
                        <div _ngcontent-c6="" class="text-center editBtn">
                            <button class="btn expense-button custom-padding custom-margin-prev" (click)="ok()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
      
      