.posTable {
    margin: 20px;
}
.card {
    margin-bottom: 0.5rem;
    height: auto;
}
.card-header{
    text-align: center;
    font-size: larger;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.required{
    color: red;
}

.detailView {
    margin-top: 30px;
}

p {
    padding-left: 20px;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: white;
    color: #29557d;
    margin-right: 15px;
    margin-bottom: 1px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #29557d;
    color: white;
}

.cancel-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: bolder;
}

.invalid-feedback {
    display: block;
    text-align: left !important;
}

