<div class="animated fadeIn posTable">
    <div class="card padding-bottom">
        <div class="card-header project-detail heading">
            <span>Add Vendor</span>
        </div>
        <div class="card-body">
        <form [formGroup]="addVendorForm">
            <div class="row detailView">
                <div class="col-sm-6 infoBodyL">
                    <div class="form-group">
                        <label>Name <span class="required">*</span></label>
                        <input type="text" placeholder="Name" class="form-control" formControlName="v_name" required
                        [ngClass]="{ 'is-invalid': submitted && f.v_name.errors, 'is-valid': f.v_name.touched && !f.v_name.errors }">
                        <div *ngIf="submitted && f['v_balance'].errors" class="invalid-feedback">
                            <div *ngIf="f['v_name'].errors.required">Name is required</div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" title="Vendor E-mail" placeholder="Email"
                            formControlName="v_email">
                        <!-- <div *ngIf="!isHoursValid" class="invalid-feedback">
                        <div>Value must be less than 24</div>
                      </div> -->
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address" title="Address"
                            formControlName="v_address">
                    </div>
                </div>
                <div class="col-sm-6 custom-margin-col infoBodyR">
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input type="number" maxlength="11" placeholder="Contact Number" class="form-control"
                            title="Contact Number" formControlName="v_contact_number">
                    </div>
                    <div class="form-group">
                        <label for="positions">Balance <span class="required">*</span></label>
                        <input type="number" placeholder="Balance" class="form-control" formControlName="v_balance"
                        [ngClass]="{ 'is-invalid': submitted && f.v_balance.errors, 'is-valid': f.v_balance.touched && !f.v_balance.errors }">
                        <div *ngIf="submitted && f['v_balance'].errors" class="invalid-feedback">
                            <div *ngIf="f['v_balance'].errors.required">Balance is required</div>
                            <div *ngIf="f['v_balance'].errors.min">Value must positive</div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="positions">Total Paid <span class="required">*</span></label>
                        <input type="number" placeholder="Total Paid" class="form-control" formControlName="v_totalPaid"
                        [ngClass]="{ 'is-invalid': submitted && f.v_totalPaid.errors, 'is-valid': f.v_totalPaid.touched && !f.v_totalPaid.errors }">
                        <div *ngIf="submitted && f['v_totalPaid'].errors" class="invalid-feedback">
                            <div *ngIf="f['v_totalPaid'].errors.required">Total-Paid is required</div>
                            <div *ngIf="f['v_totalPaid'].errors.min">Value must positive</div>
                          </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
            <button type="button" class="btn expense-button" (click)="addVendorWithFormCheck()">Add</button>
        </div>
    </div>
</div>