<app-header
  [navbarBrandRouterLink]="['/main']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/logo.png', width: 143, height: 36, alt: 'RT Logo'}"
  [navbarBrandMinimized]="{src: 'assets/logo2.png', width: 35, height: 35, alt: 'RT Logo'}"
  [sidebarToggler]="false" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false"
  [mobileSidebarToggler]="true">
  <ul class="nav navbar-nav ml-auto username">
    <p class="navbar-nav">Welcome &nbsp;
    <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false" (click)="false">
      {{username}}
    </a>
    </p>
  </ul>

</app-header>
