<div class="animated fadeIn posTable">
    <!-- <div class="card-header project-detail heading">
        <span>Inventory Records</span>
    </div> -->
    <mat-tab-group [color]="blue">
        <mat-tab label="Pending Orders">
          
    <div class="card" style="margin-top: 30px">
        <div class="card-body">
            <table #pendingDataTable class="responsive display" style="width: 100%">
                <thead class="heading">
                    <tr class="heading">
                        <th>
                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                Date
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                Vendor
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                City
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                Status
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                Type
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                Ordered By
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-asc"></i>
                                Actions
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
        </mat-tab>
        <mat-tab label="Delivered Orders"> 
            <div class="card" style="margin-top: 30px">
                <div class="card-body">
                    <table #deliveredDataTable class="responsive display" style="width: 100%">
                        <thead class="heading">
                            <tr class="heading">
                                <th>
                                    <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                        Date
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Vendor
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        City
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Status
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Type
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Ordered By
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Actions
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Paid Orders"> 
            <div class="card" style="margin-top: 30px">
                <div class="card-body">
                    <table #paidDataTable class="responsive display" style="width: 100%">
                        <thead class="heading">
                            <tr class="heading">
                                <th>
                                    <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                        Date
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Vendor
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        City
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Status
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Type
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Ordered By
                                </th>
                                <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Actions
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>


<app-reload-button [callback]="this.refreshRecords.bind(this)"></app-reload-button>

