<div class="card padding-bottom">
        <div class="card-header project-detail heading">
           <span>Invoice</span>
        </div>
<div id="invoice">

        <!-- <div class="toolbar hidden-print">
            <div class="text-right">
                <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
            </div>
            <hr>
        </div> -->
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="#">
                                <img src="http://lobianijs.com/lobiadmin/version/1.0/ajax/img/logo/lobiadmin-logo-text-64.png" data-holder-rendered="true" />
                                </a>
                        </div>
                        <div class="col company-details">
                            <h2 class="name">
                                <a target="_blank" href="#">
                                MEDIPLUS
                                </a>
                            </h2>
                            <div>Office No.1, !st Floor Ashraf Plaza, Kameti Chowk, Rawalpindi</div>
                            <div>(051) 555-8889</div>
                            <div>bluebirds_pk@hotmail.com</div>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to">{{data.vendor.v_name}}</h2>
                            <div class="address">{{data.vendor.v_address}}</div>
                            <div class="email"><a href="#">{{data.vendor.v_contact_number}}</a></div>
                        </div>
                        <div class="col invoice-details">
                            <h1 class="invoice-id">INVOICE </h1>
                            <div class="date">Date : {{data.order.date}}</div>
                            <div class="date">Order Type : {{data.order.order_type}}</div>
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-left">Items</th>
                                <th class="text-right">Qty</th>
                                <th class="text-right">Unit Price</th>
                                <th class="text-right">Net Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orderItem of data.orderItems; index as i">
                                <td class="no">{{i+1}}</td>
                                <td class="text-left">
                                    <h3>
                                    <a  href="#">
                                    {{orderItem.item_name}}
                                    </a>
                                    </h3>
                                </td>
                                <td class="qty">{{orderItem.quantity}}</td>
                                <td class="unit">{{orderItem.item_price}}</td>
                                <td class="total">{{orderItem.total_amount}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">SUBTOTAL</td>
                                <td>{{data.order.total_amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">Previous Balance(+)</td>
                                <td>{{data.vendor.v_balance}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">TOTAL Paid</td>
                                <td>{{data.vendor.v_totalPaid}}</td>
                            </tr>
                            <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Grand Total</td>
                                    <td>{{data.vendor.v_balance + data.order.total_amount}}</td>
                                </tr>
                        </tfoot>
                    </table>
                    <div class="thanks">Thank you!</div>
                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                    </div>
                </main>
                <footer>
                    Invoice was created on a computer and is valid without the signature and seal.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>
    </div>