<div class="animated fadeIn posTable">
    <div class="card padding-bottom">
        <div class="card-header project-detail heading">
            <span>Add Product</span>
        </div>
        <div class="card-body">
                <div class="row">
                        <div class="col-sm-4">
                            <fieldset class="form-group">
                                <ng-select #pODropDown (click)="scrollOnDropdownExpansion(300)"
                                    class="bootstrap" placeholder="Choose your Product" [items]="data.itemsDropdown"
                                    (change)="setSelectedProductID($event)">
                                </ng-select>
                            </fieldset>
                        </div>
                        <div *ngIf="isAdded==true" class="col-sm-2 form-group">
                            <input class="form-control" style="width: inherit;" type="number" id="quantity"
                                placeholder="Quantity" (keyup)="setSelectedProductQuantity($event)"
                                [ngClass]="{ 'is-invalid': isAdded && isQuanErr==true, 'is-valid': isQuanErr==false && quanErrMsg!=='' }">
                            <div *ngIf="isAdded && isQuanErr==true" class="invalid-feedback">
                                {{quanErrMsg}}
                            </div>
                        </div>
                        <div *ngIf="isAdded==true" class="col-sm-2 form-group">
                            <input class="form-control" style="width: inherit;" type="number" id="price"
                                value="{{selectedDropdownPrice}}" (keyup)="setSelectedProductPrice($event)"
                                placeholder="Price"
                                [ngClass]="{ 'is-invalid': isAdded && priceErrMsg!=='', 'is-valid': isPriceErr==false &&  priceErrMsg!=='' }">
                            <div *ngIf="isAdded && priceErrMsg!==''" class="invalid-feedback">
                                {{priceErrMsg}}
                            </div>
                        </div>
                        <mat-chip-list *ngIf="isAdded==true" aria-label="Fish selection" class="col-sm-2 matChip">
                            <mat-chip color="primary" selected>{{itemAvaiableQuantity}}</mat-chip>
                        </mat-chip-list>
                    </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
                <button type="button" [disabled]="addBtnDisable" class="btn expense-button" (click)="addProduct()">Add</button>
            </div>
    </div>