<div class="card padding-bottom positionInfo">
  <div class="card-header project-detail heading">
    <span>Order Details</span>
    <div *ngIf="isEdit==false" class="row inlineBtn">
      <div _ngcontent-c6="" class="text-center editBtn">
        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="onEditBtn()" data-toggle="modal"
          type="button">
          <i _ngcontent-c6="" class="fa fa-edit" style="font-style: inherit;"></i>
          Edit
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="orderForm" class="card-body p-2 clearfix posData" style="padding-left: 5px;">
    <div class="row">
      <div class="col-sm-6 col-10">
        <label class="current-date"><strong>Date</strong></label>
        <br>
        <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [max]="maxDate"
          [width]="200" [height]="30" [disabled]="!isEdit"  formatString="f" [(ngModel)]="order.date" [template]="'primary'"
          [allowKeyboardDelete]="false">
        </jqxDateTimeInput>
      </div>
      <div *ngIf="order.modifiedBy!==null" class="col-sm-6">
        <div class="form-group">
          <label for="state">Modified By</label>
            <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
              [disabled]="true" [clearable]="false" class="bootstrap" placeholder="Choose your Vendor"
              [items]="vendors" [(ngModel)]="order.modifiedBy" (change)="isChangeFlag=true" >
            </ng-select>
        </div>
    </div>
    </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                      <label for="state">Vendor</label>
                      <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                         [disabled]="true" [clearable]="false" class="bootstrap" placeholder="Choose your Vendor"
                          [items]="vendors" [(ngModel)]="order.vendor_name" (change)="isChangeFlag=true" >
                      </ng-select>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                      <label for="city">City</label>
                      <ng-select #city (click)="scrollOnDropdownExpansion(800)" data-display="static"
                          class="bootstrap" [disabled]="!isEdit" [clearable]="false" placeholder="Choose your City" [items]="cities"
                          (change)="cityIsSelected($event)" [(ngModel)]="order.city">
                      </ng-select>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                      <label for="city">Status</label>
                      <ng-select #status (click)="scrollOnDropdownExpansion(800)" data-display="static"
                          class="bootstrap" [disabled]="!isEdit" [clearable]="false" placeholder="Choose Status" [items]="statuses"
                          (change)="statusIsSelected($event)" [(ngModel)]="order.status">
                      </ng-select>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                      <label for="city">Order Type</label>
                      <ng-select #type (click)="scrollOnDropdownExpansion(800)" data-display="static"
                          class="bootstrap" [disabled]="!isEdit" [clearable]="false" placeholder="Choose Order Type" [items]="orderTypes"
                          (change)="orderTypeIsSelected($event)" [(ngModel)]="order.order_type">
                      </ng-select>
              </div>
          </div>
        </div>
  </div>

<div class="card lineItemSection">
  <div class="card-header project-detail">
    <div class="row">
      <div class="col-6 col-sm-4">
        <b>Products</b>
      </div>
      <div *ngIf="isEdit" class="col-5 col-sm-4 offset-sm-3">
        <span class="addBtnDesc">Add Product
          <button type="button" id="addBtn" class="btn addBtn" (click)="addProduct()">
            <i style="text-align: center; margin: auto;" class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body linkedComment">
    <div style="margin-left: 1px; margin-right: 1px; display:block;" class="row mb-3">
      <table class="display table" style="width: 100%">
        <thead>
          <tr class="heading">
            <th>
              <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
              Product
            </th>
            <th>
              <i class="fa fa-sort-amount-asc"></i>
              Price
            </th>
            <th>
              <i class="fa fa-sort-amount-asc"></i>
              Quantity
            </th>
            <th>
              <i class="fa fa-sort-amount-asc"></i>
              Total
            </th>
            <th *ngIf="isEdit">
              <i class="fa fa-sort-amount-asc"></i>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems | filter:searchText">
            <td>{{item.item_name}}</td>
            <td>{{item.item_price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total_amount}}</td>
            <td *ngIf="isEdit">
              <button type="button" class="btn action-button" (click)="deleteOrderItem(item.item_id, item.new_id)">
                <i class="cui-trash icons font-xl"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="orderItems.length === 0">
            No Results Found
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-header-actions">
      <div class="text-center">
        <div *ngIf="isEdit; else elseBlock" class="row" style="direction: rtl">
          <div _ngcontent-c6="" class="text-center editBtn">
            <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="isEdit=false"
              data-toggle="modal" type="button">
              <i _ngcontent-c6="" class="fa fa-close" style="font-style: inherit;"></i>
              Cancel
            </button>
            <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="confirmDelete()"
              data-toggle="modal" type="button">
              <i _ngcontent-c6="" class="fa fa-trash-o" style="font-style: inherit;"></i>
              Delete
            </button>
            <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="emptyOrderItemsValidation()"
              data-toggle="modal" type="button">
              <i _ngcontent-c6="" class="fa fa-save" style="font-style: inherit;"></i>
              Save
            </button>
          </div>
        </div>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-secondary mr-1 expense-button" [routerLink]="['/main/view-orders']">
            Back
          </button>
        </ng-template>
      </div>
    </div>
    <div *ngIf="order" class="card-header-actions total">
      <div class="text-center">
          <label for="state">Total:</label>
          <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
              <mat-chip color="primary" selected>{{order.total_amount}}</mat-chip>
          </mat-chip-list>
      </div>
  </div>
  </div>
</div>
</div>
