.posTable {
    margin: 20px;
}
.card {
    margin-bottom: 0.5rem;
    height: auto;
    background-color: transparent;
    opacity: 0.95;
    border: 1px solid #336285 !important;
}
.card-header{
    text-align: center;
    font-size: larger;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.detailView {
    margin-top: 30px;
}

p {
    padding-left: 20px;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #accecf;
    color: #29557d;
}

.total {
    float: left !important;
}

.card-footer {
    background-color: transparent !important;
    margin-top: 20px;
    border-top: 1px solid #2d4b654d !important;
}

.details-footer {
    background-color:none!important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #29557d;
    color: #fff;
}

.mat-form-field {
    display: block!important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  