<div class="card padding-bottom positionInfo">
    <div class="card-header project-detail heading">
       <span>Inventory Record</span>
    </div>
  <div class="card-body p-2 clearfix posData" style= "padding-left: 5px;">
    <div class="row infoSection"> 
    <div class="col-sm-3"><span>Date</span><div class="text-muted info">{{data.data.date}}</div></div>
    <div class="col-sm-3"><span>No Of Products</span><div class="text-muted info">{{data.data.no_of_products}}</div></div>
    <div class="col-sm-3"><span>Status</span><div class="text-muted info">{{data.data.status}}</div></div>
    <div class="col-sm-3"><span>Added By</span><div class="text-muted info">{{data.data.addedBy}}</div></div>
    </div>
  </div>
  
  <div class="card lineItemSection">
    <div class="card-header project-detail">
      <div class="row">
        <div class="col-6 col-sm-4">
            <b>Products</b>
        </div>
      </div>
    </div>
    <div class="card-body linkedComment">
        <div style="margin-left: 1px; margin-right: 1px; display:block;" class="row mb-3">
          <table class="display table" style="width: 100%">
            <thead>
              <tr class="heading">
                <th>
                  <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                  Product
                </th>
                <th>
                  <i class="fa fa-sort-amount-asc"></i>
                  Quantity
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.products | filter:searchText">
                <td>{{item.item_name}}</td>
                <td>{{item.quantity}}</td>
              </tr>
              <tr *ngIf="data.products.length === 0">
                No Results Found
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="form-actions custom-margin comment-buttons">
        <button class="btn expense-button custom-padding custom-margin-prev" (click)="ok()">OK</button>
     </div>
  </div>
  
  