
.posTable {
    margin: 20px;
    background-color: transparent;
    opacity: 0.95;
}

.card {
    max-height: 450px;
    background-color: transparent;
    opacity: 0.95;
    border: 1px solid #254e74;
    overflow-y: auto;
}

.new-time-log {
    margin-top: 20px;
}

.new-time-log button {
    width: 85px;
}

.search-bar {
    margin-top: 20px;
}

.search {
    float: right;
}

.sort-icon {
    margin-left: 30px;
}

.sortable-column {
    cursor: pointer; 
    min-width: 127px;
    width: 127px;
    max-width: 127px;
}
.sortable-column:focus {     
    background-color: #254e74!important;    
}

.fixed-column {
    min-width: 127px;
    width: 127px;
    max-width: 127px;
}
tbody tr {
    border: 1px solid #336285 !important;
    font-size: 15px;
}

tbody td {
    border: 1px solid #336285 !important;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.heading {
    background-color: #254e74;
    color:white;
    border: none;
}

.detail:hover {
    color: #29557d;
    font-size: 15px;
    transition: font-size .4s;
}

table th {
    border: none;
}

tr {
    border: none!important;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #accecf;
    color: #29557d;
}

.cancel-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: bolder;
}
