@import "src/app/app.component.scss";
.component-container {
    margin-top: 1.5rem;
}
app-kanban-board {
    display: block;
}
.masorny-widget-item {
    margin-right: 19px;
    margin-top: -16px;
}
.masonry-item { 
    width: 200px; 
}

.widget-item {
    width: 200px;
    margin-left: -8px;
}

.widget-status {
    width: 195px;
    margin-left: -5px;
    height: 50px;
    color: $panavid-white;
    display: block;
    background-color: #29557d;
    text-transform: uppercase;
}

.jqx-widget-header {
    background: #29557d !important;
    color: white;
}

.bg-orange {
    background-color: #ffab00!important;
}
.status-text{
    font-size: small;
    margin: 0;
    padding: 4px;
}

.widget-jobs {
    padding-right: 10px;
}

.widget-body {
    padding: .55rem 0;
    padding-bottom: unset;
}

.project-widget {
    width: 210px!important;
}

.jqx-kanban-item-avatar {
    display: none!important;
}

.jqxMain {
    margin: 20px;
    overflow: hidden;
}

@media(max-width: 320px) {
    .project-widget {
        width: 305px!important;
    }
    .widget-status {
        width: 290px;
    }
}


@media (min-width: 321px) and  (max-width: 350px) {
    .project-widget {
        width: 360px!important;
    }
    .widget-status {
        width: 345px;
    }
}

@media (min-width: 351px) and  (max-width: 360px) {
    .project-widget {
        width: 345px!important;
    }
    .widget-status {
        width: 330px;
    }
}

@media (min-width: 361px) and  (max-width: 390px) {
    .project-widget {
        width: 360px!important;
    }
    .widget-status {
        width: 345px;
    }
}

@media (min-width: 410px) and (max-width: 420px) {
    .project-widget {
        width: 195px!important;
    }
    .widget-status {
        width: 179px;
    }
    .masorny-widget-item {
        margin-right: 2px;
        margin-top: -16px;
    }
}
